= form_for(@list) do |f|
  - if @list.errors.any?
    #error_explanation
      %h2
        = pluralize(@list.errors.count, "error")
        prohibited this list from being saved:
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  %legend Details
  %div.control-group
    = f.label :name, :class => "control-label"
    %div.controls
      = f.text_field :name, :class => "input-xlarge"
  %div.control-group
    = label :campaign, :id, 'Campaign', :class => "control-label"
    %div.controls 
      = select :campaign, :id, [], :class => "input-xlarge"
  %div.control-group
    = f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, :class => "input-xlarge", :rows => 4
  %div.actions
    = f.submit
