= form_for(@person) do |f|
  - if @person.errors.any?
    %div#iderror_explanation
      %h2
        =pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
      -@person.errors.full_messages.each do |msg|
        %li= msg

  %div.grid_5.alpha
    %h2 Name
    %table
      %tr
        %td= label :person, :title, 'Title'
        %td= select :person, :title, [ "Mr.", "Ms.", "Mrs." ]
      %tr
        %td= label :person, :first_name, 'First Name'
        %td= text_field :person, 'first_name'
      %tr
        %td= label :person, :last_name, 'Last Name'
        %td= text_field :person, 'last_name'
    %h2 Address
    %table
      %tr
        %td= label :address1, :street, 'Street'
        %td= text_field :address1, 'street'
      %tr
        %td= label :address1, :city, 'City'
        %td= text_field :address1, 'city'
      %tr
        %td= label :address1, :state, 'State'
        %td= text_field :address1, 'state'
      %tr
        %td= label :address1, :zip, 'Zip'
        %td= text_field :address1, 'zip'
      %tr
        %td= label :address1, :country, 'Country'
        %td= select :address1, :country, [ "USA" ]
  %div.grid_7.omega
    %h2 Contact Information
    %table
      %tr
        %td= label :person, :phone_cell, 'Cell Phone'
        %td= text_field :person, 'phone_cell'
      %tr
        %td= label :person, :phone_home, 'Home Phone'
        %td= text_field :person, 'phone_home'
      %tr
        %td= label :person, :phone_office, 'Office Phone'
        %td= text_field :person, 'phone_office'
      %tr
        %td= label :person, :email1, 'Primary Email'
        %td= text_field :person, 'email1'
      %tr
        %td= label :person, :email2, 'Other Email'
        %td= text_field :person, 'email2'
      %tr
        %td= label :person, :website1, 'Website 1'
        %td= text_field :person, 'website1'
      %tr
        %td= label :person, :website2, 'Website 2'
        %td= text_field :person, 'website2'
  %div.actions
    = f.submit(:class => "button")