= form_for(@person, :html => { :class => "form-horizontal"} ) do |f|
  - if @person.errors.any?
    %div#error_explanation
      %h2
        =pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
      -@person.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    %legend Name
    %div.control-group
      = label :person, :first_name, 'First Name', :class => "control-label"
      %div.controls
        = text_field :person, 'first_name', :class => "input-xlarge"
    %div.control-group
      = label :person, :last_name, 'Last Name', :class => "control-label"
      %div.controls
        = text_field :person, 'last_name', :class => "input-xlarge"
    %div.control-group
      = label :person, :company, 'Company', :class => "control-label"
      %div.controls
        = text_field :person, 'company', :class => "input-xlarge"
    %div.control-group
      = label :person, :title, 'Job Title', :class => "control-label"
      %div.controls
        = text_field :person, 'title', :class => "input-xlarge"
    %div.control-group
      = label :person, :role, 'Role', :class => "control-label"
      %div.controls
        = text_field :person, 'role', :class => "input-xlarge"
  
  %fieldset
    %legend Address
    %div.control-group
      = label :address1, :street, 'Street', :class => "control-label"
      %div.controls
        = text_field :address1, 'street', :class => "input-xlarge"
    %div.control-group
      = label :address1, :city, 'City', :class => "control-label"
      %div.controls
        = text_field :address1, 'city', :class => "input-xlarge"
    %div.control-group
      = label :address1, :state, 'State', :class => "control-label"
      %div.controls
        = text_field :address1, 'state', :class => "input-xlarge"
    %div.control-group
      = label :address1, :zip, 'Zip', :class => "control-label"
      %div.controls
        = text_field :address1, 'zip', :class => "input-xlarge"
    %div.control-group
      = label :address1, :country, 'Country', :class => "control-label"
      %div.controls
        = select :address1, :country, options_for_select(Person.countries, @selected)

  %fieldset
    %legend Alternate Address
    %div.control-group
      = label :address2, :street, 'Street', :class => "control-label"
      %div.controls
        = text_field :address2, 'street', :class => "input-xlarge"
    %div.control-group
      = label :address2, :city, 'City', :class => "control-label"
      %div.controls
        = text_field :address2, 'city', :class => "input-xlarge"
    %div.control-group
      = label :address2, :state, 'State', :class => "control-label"
      %div.controls
        = text_field :address2, 'state', :class => "input-xlarge"
    %div.control-group
      = label :address2, :zip, 'Zip', :class => "control-label"
      %div.controls
        = text_field :address2, 'zip', :class => "input-xlarge"
    %div.control-group
      = label :address2, :country, 'Country', :class => "control-label"
      %div.controls
        = select :address2, :country, options_for_select(Person.countries, @selected2)
  %fieldset
    %legend Contact Information
    %div.control-group
      = label :person, :phone_cell, 'Cell Phone', :class => "control-label"
      %div.controls
        = text_field :person, 'phone_cell', :class => "input-xlarge", :placeholder => "123-456-7890"
    %div.control-group
      = label :person, :phone_home, 'Home Phone', :class => "control-label"
      %div.controls
        = text_field :person, 'phone_home', :class => "input-xlarge", :placeholder => "123-456-7890"
    %div.control-group
      = label :person, :phone_office, 'Office Phone', :class => "control-label"
      %div.controls
        = text_field :person, 'phone_office', :class => "input-xlarge", :placeholder => "123-456-7890"
    %div.control-group
      = label :person, :email1, 'Primary Email', :class => "control-label"
      %div.controls
        = text_field :person, 'email1', :class => "input-xlarge"
    %div.control-group
      = label :person, :email2, 'Other Email', :class => "control-label"
      %div.controls
        = text_field :person, 'email2', :class => "input-xlarge"
    %div.control-group
      = label :person, :website1, 'Company Website', :class => "control-label"
      %div.controls
        = text_field :person, 'website1', :class => "input-xlarge", :placeholder => "companyname.com"
    %div.control-group
      = label :person, :website2, 'Organization Website', :class => "control-label"
      %div.controls
        = text_field :person, 'website2', :class => "input-xlarge", :placeholder => "organizationname.org"
    %div.control-group
      = label :person, :website3, 'Personal Profile 1', :class => "control-label"
      %div.controls
        = text_field :person, 'website3', :class => "input-xlarge", :placeholder => "facebook.com/name"
    %div.control-group
      = label :person, :website4, 'Personal Profile 2', :class => "control-label"
      %div.controls
        = text_field :person, 'website4', :class => "input-xlarge", :placeholder => "linkedin.com/name"
  
  %fieldset
    %legend Relationship to Ragged Wing
    %div.control-group
      %label.control-label Internal Relationship(s):
      %div.controls
        - @internal.each do |elt|
          %label.checkbox
            = elt
            = check_box_tag "relationships[]", elt, @person.has_relationship?(elt), :id => elt
    %div.control-group
      %label.control-label External Relationship(s):
      %div.controls
        - @external.each do |elt|
          %label.checkbox
            = elt
            = check_box_tag "relationships[]", elt, @person.has_relationship?(elt), :id => elt

  %div.actions
    = f.submit(:class => "btn btn-primary")
