= form_for(@person) do |f|
  - if @person.errors.any?
    %div#iderror_explanation
      %h2
        =pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
      -@person.errors.full_messages.each do |msg|
        %li= msg

  = label :person, :title, 'Title'
  = select :person, :title, [ "Mr.", "Ms.", "Mrs." ]
  = label :person, :first_name, 'First Name'
  = text_field :person, 'first_name'
  = label :person, :last_name, 'Last Name'
  = text_field :person, 'last_name'
  %br

  = label :person, :phone_cell, 'Cell Phone'
  = text_field :person, 'phone_cell'
  %br
  = label :person, :phone_home, 'Home Phone'
  = text_field :person, 'phone_home'
  %br
  = label :person, :phone_office, 'Office Phone'
  = text_field :person, 'phone_office'
  %br
  = label :person, :email1, 'Primary Email'
  = text_field :person, 'email1'
  %br
  = label :person, :email2, 'Other Email'
  = text_field :person, 'email2'
  %br
  = label :person, :website2, 'Website 1'
  = text_field :person, 'website1'
  %br
  = label :person, :website2, 'Website 2'
  = text_field :person, 'website2'

  %div.actions
    = f.submit