%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Relationship(s)
      %th Address
      %th Email 
      %th Phone
  %tbody
    - @people.each do |person|
      %tr
        %td
          = link_to "#{person.first_name} #{person.last_name}", person
        %td
          - unless person.relationships.empty?
            - person.relationships.each do |r|
              = r.name
              %br
        %td
          - if person.address1
            = person.address1.to_s
        %td
          = mail_to person.email1
        %td
          = person.phone_cell
