%h1 List of All People
%br
%div.controls
  = form_tag({:controller => "people", :action => "search"}, :method => "get") do
    = select :person, :title, ['Please Select'] + Relationship.list
    = submit_tag( "Filter", :class => "btn btn-primary")

%table.table
  %thead
    %tr
      %th Name
      %th Address
      %th Email
      %th Cell
      %th Actions
  %tbody
    - @people.each do |person|
      %tr
        %td
          = link_to "#{person.first_name} #{person.last_name}", person
        %td
          - if person.address1
            = "#{person.address1.street}, #{person.address1.city}, #{person.address1.state} #{person.address1.zip}, #{person.address1.country}"
        %td
          = person.email1
        %td
          = person.phone_cell
        %td
          = link_to 'Edit', edit_person_path(person)
          = link_to 'Delete', person, confirm: 'Are you sure?', method: :delete

%br

= link_to 'Add New Person', new_person_path, :class => "btn"