- if notice
  %p#notice= notice

%h1= "#{@person.first_name} #{@person.last_name}"

-@person.members.each do |m|
  -if m.role.empty?
    -m.role = "Employee"
  %h4= "#{m.role} at #{m.organization.name}"

%br

%div.row-fluid
  %div.span12
    %div.tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#1", :data => {:toggle => "tab"}} Profile
        %li
          %a{:href => "#2", :data => {:toggle => "tab"}} Notes
        %li
          %a{:href => "#3", :data => {:toggle => "tab"}} Donations
    %div.tab-content
      %div.tab-pane.active#1
        = render 'profile'
      %div.tab-pane#2
        = render 'notes'
      %div.tab-pane#3
        = render 'donations'

= link_to 'Back', people_path, :class => "btn"
