- if notice
  %p#notice= notice

%h1= "#{@person.first_name} #{@person.last_name}"
%h2
  = "#{@person.title}"
  -if not @person.company.blank?
    = "at #{@person.company}" 

%div.row
  %div.span12
    = link_to 'Edit Information', edit_person_path(@person), :class => "btn", :id => "edit"
    = link_to 'Add a donation', new_donation_path(:person_id => @person.id), :id => "new_donation", :class => "btn"

%div.row
  %div.span12
    %h2 Information
    %table.table.table-condensed
      %tr
        %td
          %i.icon-home
          Role
        %td= @person.role
      %tr
        %td
          %i.icon-home
          Address 1
        %td
          - if @address1 
            = "#{@address1.street}, #{@address1.city}, #{@address1.state} #{@address1.zip}, #{@address1.country}"
      %tr
        %td
          %i.icon-home
          Address 2
        %td
          - if @address2 
            = "#{@address2.street}, #{@address2.city}, #{@address2.state} #{@address2.zip}, #{@address2.country}"
      %tr
        %td
          %i.icon-envelope
          Email 1
        %td= mail_to @person.email1
      %tr
        %td
          %i.icon-envelope
          Email 2
        %td= mail_to @person.email2
      %tr
        %td
          %i.icon-comment
          Cell Phone:
        %td= @person.phone_cell
      %tr
        %td
          %i.icon-comment
          Home Phone:
        %td= @person.phone_home
      %tr
        %td
          %i.icon-comment
          Work Phone:
        %td= @person.phone_office
      %tr
        %td
          %i.icon-list-alt
          Company Website:
        %td= content_tag(:a, "#{@person.website1}", :href => "http://www.#{@person.website1}")
      %tr
        %td
          %i.icon-list-alt
          Organization Website:
        %td= content_tag(:a, "#{@person.website2}", :href => "http://www.#{@person.website2}")
      %tr
        %td
          %i.icon-list-alt
          Personal Profile 1:
        %td= content_tag(:a, "#{@person.website3}", :href => "http://www.#{@person.website3}")
      %tr
        %td
          %i.icon-list-alt
          Personal Profile 2:
        %td= content_tag(:a, "#{@person.website4}", :href => "http://www.#{@person.website4}")
      %tr
        %td
          %i.icon-user
          Relationship to Ragged Wing:
        %td= @person.print_relationships

%div.row
  %div.span12
    %h2 Donations Made
    - if @person.donations
      %table.table.table-condensed
        %tr
          %th Date
          %th Amount
        - @person.donations.each do |d|
          %tr
            %td= d.date
            %td= d.amount
    - else
      No donations...


= link_to 'Back', people_path, :class => "btn"
