- if notice
  %p#notice= notice

%h1= "#{@person.title} #{@person.first_name} #{@person.last_name}"

%h2 Address and Contact Information
%ul
  %li
    Address 1:
    - if @address1
      = "#{@address1.street}, #{@address1.city}, #{@address1.state} #{@address1.zip}, #{@address1.country}"
  %li
    Address 2:
  %li
    Email 1:
    = @person.email1
  %li
    Email 2:
    = @person.email2
  %li
    Cell Phone:
    = @person.phone_cell
  %li
    Home Phone:
    = @person.phone_home
  %li
    Work Phone:
    = @person.phone_office
  %li
    Website 1:
    = @person.website1
  %li
    Website 2:
    = @person.website2

= link_to 'Edit', edit_person_path(@person)
= link_to 'Back', people_path