= form_for(@user, html: {:class => 'form-horizontal'}) do |f|
  - if @user.errors.any?
    %div#iderror_explanation
      %h2
        =pluralize(@user.errors.count, "error") 
        prohibited this user from being saved:
      %ul
      -@user.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    %legend Admin
    %div.control-group
      = f.label :first_name, :class => "control-label"
      %div.controls
        = f.text_field :first_name, :class => "input-xlarge"
    %div.control-group
      = f.label :last_name, :class => "control-label"
      %div.controls
        = f.text_field :last_name, :class => "input-xlarge"
    %div.control-group
      %div.controls
        %label.checkbox
          = "This person is an Admin"
          = check_box_tag "user[admin]", 1, @user.admin, :id => :admin

  %div.actions
    = f.submit(:class => "btn btn-primary")
