<h2><%= @title = 'My Info' %></h2>

<div class="content">

<%= form_for(@user) do |f| %>
	<div>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div>
		<%= f.submit 'Update' %>
	</div>
<% end %>
</div>