%h2= @title = 'My Info'
.content
  = form_for(@user) do |f|
    %div
      = f.label :first_name
      = f.text_field :first_name
    %div
      = f.label :last_name
      = f.text_field :last_name
    %div
      = f.submit 'Update'
