- if notice
  %p#notice= notice

%h1 Users

%table.table.table-striped
  %thead 
    %tr
      %th= sortable "first_name", "Name"
      %th= sortable "email", "Email"
      %th= sortable "admin", "Privileges"
      %th
      %th

  %tbody
  - @users.each do |user|
    %tr
      %td
        -if user.first_name && user.last_name
          = link_to "#{user.first_name} #{user.last_name}", edit_user_path(user)
      %td= user.email
      %td= user.admin? ? "Admin" : "Not Admin"
      %td
      %td
        = link_to 'Edit', edit_user_path(user), :class => "btn btn-mini"
        = link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini"

= paginate @users
