%div.pull-right      
  = form_tag({:controller => "events", :action => "filter"}, :method => "get", :class => "form-inline") do
    = select_tag "filter_event", options_for_select(@event_types, @selected_event), {:prompt => "All Events"}
    = select_tag "filter_year", options_for_select(@years, @selected_year), {:prompt => "All Years"}
    = submit_tag( "Go", {:class => "btn", :id => "filter"})
    = link_to 'Add New Event', new_event_path, :class => "btn btn-primary", :id => "new_event"

- if notice
  %p#notice= notice  

%h1 Events

%table.table.table-striped
  %thead 
    %tr
      %th= sortable "name", "Name"
      %th= sortable "event_type", "Type"
      %th= sortable "description", "Description"
      %th= sortable "date", "Date"
      %th= sortable "start_time", "Start Time"
      %th= sortable "end_time", "End Time"
      %th
      %th

  %tbody
  - @events.each do |event|
    %tr
      %td= link_to "#{event.name}", event
      %td= event.event_type
      %td{:style => "width:45%;"}= event.description
      %td= event.date.strftime('%d %B %Y') unless event.date.nil?
      %td= event.start_time.strftime('%l:%M %p') unless event.start_time.nil?
      %td= event.end_time.strftime('%l:%M %p') unless event.end_time.nil?
      %td
      %td
        = link_to 'Edit', edit_event_path(event), :class => "btn btn-mini"
        = link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini" 

= paginate @events
