%h1 Events
%br
= form_tag({:controller => "events", :action => "filter"}, :method => "get", :class => "form-inline") do
  %div.row-fluid
    %div.span3  
      = link_to 'Add New Event', new_event_path, :class => "btn btn-primary", :id => "new_event"
    %div.span9
      %div.pull-right
        = select_tag "filter", options_for_select(@years, @selected), {:prompt => "Filter by Year"}
        = submit_tag( "Go", {:class => "btn", :id => "filter"})

%h3#notice= notice  

%table.table.table-striped
  %thead 
    %tr
      %th Name
      %th Type
      %th Description
      %th Date
      %th Start Time
      %th End Time
      %th
      %th

  %tbody
  - @events.each do |event|
    %tr
      %td= link_to "#{event.name}", event
      %td= event.event_type
      %td{:style => "width:45%;"}= event.description
      %td= event.date.strftime('%d %B %Y')
      %td= event.start_time.strftime('%l:%M %p')
      %td= event.end_time.strftime('%l:%M %p')
      %td
      %td
        = link_to 'Edit', edit_event_path(event), :class => "btn btn-mini"
        = link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini"

= paginate @events
