- if notice
  %p#notice= notice
  
%h1 Donations 

:javascript
  $(function() {
    var dates = $( "#start, #end" ).datepicker({
      defaultDate: "+1w",
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      numberOfMonths: 1,
      onSelect: function( selectedDate ) {
        var option = this.id == "start" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

= form_tag({:controller => "donations", :action => "filter_donations"}, :method => "get", :class => "navbar-search") do
  = text_field_tag(:min, nil, { :placeholder => "Min Amount..."})
  = text_field_tag(:max, nil, { :placeholder => "Max Amount..."})
  = text_field_tag(:start, nil, { :placeholder => "Start Date..."})
  = text_field_tag(:end, nil, { :placeholder => "End Date..."})
  = submit_tag("Update Listing", {:class => "btn", :id => "filter"})

%table.table.table-striped
  %thead
    %tr
      %th= sortable "date", "Date"
      %th= sortable "person_id", "Donor Name"
      %th= sortable "amount", "Amount"
      %th= sortable "payment_method", "Payment Method"
      %th= sortable "campaign", "Campaign"
      %th= sortable "solicitation_method", "Solicitation Method"
  %tbody
    - @donations.each do |donation|
      %tr
        %td
          = link_to "#{donation.date.strftime('%-d %B %Y')}", donation
        %td
          -if donation.donor
            = link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor
        %td
          = number_to_currency(donation.amount)
        %td
          = donation.payment_method
        %td
          -if donation.campaign
            = link_to donation.campaign.name, campaign_path(donation.campaign)
        %td
          = donation.solicitation_method
        %td
          = link_to 'Edit', edit_donation_path(donation), :class => "btn btn-mini"
          = link_to 'Delete', donation, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini"

= paginate @donations

= button_to "Download all Donations to CSV", "/donations/download"
= form_tag({:action => "upload"}, :multipart => "true") do
  = file_field_tag 'file'
  = submit_tag("Upload")
  