%h1 Donations 
= button_to "Download", "/donations/download"


= form_tag({:controller => "donations", :action => "filter_donations"}, :method => "get", :class => "navbar-search") do
  = text_field_tag(:min, nil, {:class => "search-query",:placeholder => "Min Amount..."})
  = text_field_tag(:max, nil, {:class => "search-query",:placeholder => "Max Amount..."})
  = text_field_tag(:start, nil, {:class => "search-query",:placeholder => "Start Date..."})
  = text_field_tag(:end, nil, {:class => "search-query",:placeholder => "End Date..."})
  = submit_tag("Update Listing", {:class => "btn", :id => "filter"})

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Donor Name
      %th Amount
      %th Payment Method
      %th Campaign
      %th Solicitation Method
  %tbody
    - @donations.each do |donation|
      %tr
        %td
          = link_to "#{donation.date.strftime('%-d %B %Y')}", donation
        %td
          = link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor
        %td
          = number_to_currency(donation.amount)
        %td
          = donation.payment_method
        %td
          = donation.campaign
        %td
          = donation.solicitation_method
        %td
          = link_to 'Edit', edit_donation_path(donation), :class => "btn btn-mini"
          = link_to 'Delete', donation, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini"
