= render 'target_list_form'

%div.pull-right
  = form_tag({:controller => "donations", :action => "filter_donations"}, :class => "form-inline", :method => "get") do
    %a.btn.btn-primary{:data => {:toggle => "modal", :target => "#campaign_target"}} Add Donors to Campaign
    = text_field_tag(:min, nil, { :class => "span2", :placeholder => "Min Amount..."})
    = text_field_tag(:max, nil, { :class => "span2", :placeholder => "Max Amount..."})
    = text_field_tag(:start, nil, { :class => "span2", :placeholder => "Start Date..."})
    = text_field_tag(:end, nil, { :class => "span2", :placeholder => "End Date..."})
    = submit_tag("Update Listing", {:class => "btn btn-primary", :id => "filter"})

- if notice
  %p#notice= notice
  
%h1 Donations 

:javascript
  $(function() {
    var dates = $( "#start, #end" ).datepicker({
      defaultDate: "+1w",
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      numberOfMonths: 1,
      onSelect: function( selectedDate ) {
        var option = this.id == "start" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

%table.table.table-striped
  %thead
    %tr
      %th= sortable "date", "Date"
      %th= sortable "person_id", "Donor Name"
      %th= sortable "amount", "Amount"
      %th= sortable "payment_method", "Payment Method"
      %th= sortable "campaign", "Campaign"
      %th= sortable "solicitation_method", "Solicitation Method"
  %tbody
    - @donations.each do |donation|
      %tr
        %td
          = link_to "#{donation.date.strftime('%-d %B %Y')}", donation
        %td
          -if donation.donor
            = link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor
        %td
          = number_to_currency(donation.amount)
        %td
          = donation.payment_method
        %td
          -if donation.campaign
            = link_to donation.campaign.name, campaign_path(donation.campaign)
        %td
          = donation.solicitation_method
        %td
          = link_to 'Edit', edit_donation_path(donation), :class => "btn btn-mini"
          = link_to 'Delete', donation, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini"

= paginate @donations  
