- if notice
  %p#notice= notice

%h1= "#{@donation.donor.first_name} #{@donation.donor.last_name}'s Donation Details"
%br
%div.row-fluid
  %div.span12
    = link_to 'Edit Donation', edit_donation_path(@donation), :class => "btn btn-primary"
%br 

%div.row-fluid
  %div.span12
    %table.table.table-condensed
      %tr 
        %h2 Details
      %tr
        %td
          %i.icon-user
          Donor Name
        %td= link_to "#{@donation.donor.first_name} #{@donation.donor.last_name}", person_path(@donation.donor)
      %tr
        %td
          %i.icon-plus
          Amount
        %td= number_to_currency(@donation.amount)
      %tr
        %td
          %i.icon-calendar
          Date
        %td= @donation.date.strftime('%A, %d %B %Y')
      %tr
        %td
          %i.icon-lock
          Payment Method
        %td= @donation.payment_method
      %tr
        %td
          %i.icon-th-list
          Campaign
        %td
          -if @donation.campaign
            = link_to @donation.campaign.name, campaign_path(@donation.campaign)
      %tr
        %td
          %i.icon-th-list
          Solicitation Method
        %td= @donation.solicitation_method
      %tr
        %td
          %i.icon-map-marker
          Point of Contact (within RWE)
        %td
          - if @donation.point_of_contact
            = link_to "#{@donation.point_of_contact.first_name} #{@donation.point_of_contact.last_name}", person_path(@donation.point_of_contact)

= link_to "Back to #{@donation.donor.first_name} #{@donation.donor.last_name}", person_path(@donation.donor), :class => "btn btn-primary"
= link_to 'Back to Donations', donations_path, :class => "btn"
