%div.row-fluid
  %div.span6
    %h3= "Details"
    %table.table.table-condensed
      %tr
        %td
          %i.icon-pencil
          Description
        %td= @campaign.description
      %tr
        %td
          %i.icon-calendar
          Start Date
        %td= @campaign.start_date.strftime('%A, %d %B %Y')
      %tr
        %td
          %i.icon-calendar
          End Date
        %td= @campaign.end_date.strftime('%A, %d %B %Y')
  %div.span6
    %h3= "Campaign Targets"
    - if @campaign.targets
      %table.table.table-condensed
        %tr
          %th Name
          %th Status
          %th Actions
        - @campaign.targets.each do |target|
          %tr
            %td= link_to "#{target.person.first_name} #{target.person.last_name}", target.person
            %td= target.status
            %td= link_to 'Remove', target, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini"