- if notice
  %p#notice= notice

= render 'target_form'

%div.pull-right
  = link_to 'Edit Information', edit_campaign_path(@campaign), :class => "btn btn-primary", :id => "edit"
  %a.btn.btn-primary{:data => {:toggle => "modal", :target => "#new_target"}} Add a new campaign target
  = link_to 'Delete Campaign', @campaign, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

%h1= @campaign.name

%div.row-fluid
  %div.span12
    %div.tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#1", :data => {:toggle => "tab"}} Details
        %li
          %a{:href => "#2", :data => {:toggle => "tab"}} Donations
    %div.tab-content
      %div.tab-pane.active#1
        = render 'profile'
      %div.tab-pane#2
        = render 'donations'

= link_to 'Back', campaigns_path, :class => "btn"
