%h2= "Details for #{@organization.name}"

%table.table.table-condensed
  %tr
    %td
      %i.icon-book
      Organization Name
    %td= "#{@organization.name}"
  %tr
    %td
      %i.icon-user
      Contact Person
    %td
      - if @organization.person
        = link_to "#{@organization.person.first_name} #{@organization.person.last_name}", person_path(@organization.person)
  %tr
    %td
      %i.icon-th-list
      Address
    %td
      -if @address
        = @address.to_s
  %tr
    %td
      %i.icon-home
      Website
    %td= link_to "#{@organization.website}", "#{@organization.website}"
  %tr
    %td
      %i.icon-cog
      Organization Type
    %td= @organization.org_type
