%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Organization Type
      %th Contact Person
      %th Address
      %th Website
  %tbody
    - @organizations.each do |organization|
      %tr
        %td
          = link_to "#{organization.name}", organization
        %td
          = organization.org_type
        %td
          - if organization.person
            = link_to "#{organization.person.first_name} #{organization.person.last_name}", person_path(organization.person)
        %td
          - if organization.address
            = organization.address.to_s
        %td
          = "#{organization.website}"