%div.pull-right
  = form_tag({:controller => "organizations", :action => "filter"}, :method => "get", :class => "form-horizontal") do
    = link_to 'Add New Organization', new_organization_path, :class => "btn btn-primary", :id => "new_organization"
    = select_tag "filter", options_for_select(Organization.org_types, @selected), {:prompt => "Filter by Organization Type"}
    = submit_tag( "Update Listing", :class => "btn" )

- if notice
  %p#notice= notice
%h1 Organizations

%table.table.table-striped#table
  %thead
    %tr
      %th= sortable "name", "Name"
      %th= sortable "org_type", "Organization Type"
      %th= sortable "person_id", "Contact Person"
      %th Address
      %th= sortable "website", "Website"
      %th Actions
  %tbody
    - @organizations.each do |organization|
      %tr
        %td
          = link_to "#{organization.name}", organization
        %td
          = organization.org_type
        %td
          - if organization.person
            = link_to "#{organization.person.first_name} #{organization.person.last_name}", person_path(organization.person)
        %td
          - if organization.address
            = organization.address.to_s
        %td
          = "#{organization.website}"
        %td
          = link_to 'Edit', edit_organization_path(organization), :class => "btn btn-mini"
          = link_to 'Delete', organization, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini"

= paginate @organizations
%hr