<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Person</th>
    <th>Address</th>
    <th>Website</th>
    <th>Org type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.person %></td>
    <td><%= organization.address %></td>
    <td><%= organization.website %></td>
    <td><%= organization.org_type %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
