- if notice
  %p#notice= notice

%h1= "#{@organization.name}"
%br 

%div.row-fluid
  %div.span12
    %div.tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#1", :data => {:toggle => "tab"}} Details
        %li
          %a{:href => "#2", :data => {:toggle => "tab"}} Members
    %div.tab-content
      %div.tab-pane.active#1
        = render 'profile'
      %div.tab-pane#2
        = render 'members'



= link_to 'Back', organizations_path, :class => "btn"