- if notice
  %p#notice= notice

%div.pull-right
  = link_to 'Edit Details', edit_organization_path(@organization), :class => "btn btn-primary", :id => "edit_org"
  %a.btn.btn-primary{:data => {:toggle => "modal", :target => "#new_member"}} Add a new member
  = link_to 'Delete Organization', @organization, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

%h1= "#{@organization.name}"
%br 

%div.row-fluid
  %div.span6
    = render 'profile'
  %div.span6
    = render 'members'

= render 'member_form'

= link_to 'Back', organizations_path, :class => "btn"