!!!
%html
  %head
    %meta{"http-equiv" =>"Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "robots", :content => "noindex"}
    %title RaggedWing
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %a.brand{:href => "/"}
            Ragged Wing CRM
          %div.nav-collapse
            %ul.nav
              %li= link_to "People", people_path
              -# %li= link_to "Organizations", organizations_path
              %li= link_to "Donations", donations_path
          %div
            = form_tag({:controller => "people", :action => "filter"}, :method => "get") do
              = select :person, :title, [''] + Relationship.list
              = submit_tag("Filter", :class => "button")
          %div
            = form_tag({:controller => "people", :action => "search"}, :method => "get", :class => "navbar-search") do
              -# = select :person, :title, [ "people"]
              = text_field_tag(:q, "Search", :class => "search-query")
              -#= submit_tag("Go", :class => "btn")
    %div.container-fluid
      = yield
    %div.container-fluid &copy; 2012
