<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex" />
  <title>RaggedWing</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <noscript>
  	<%= stylesheet_link_tag "mobile", :media => "all" %>
  </noscript>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "adapt" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<%= yield %>
</div>

</body>
</html>
