!!!
%html
  %head
    %meta{"http-equiv" =>"Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "robots", :content => "noindex"}
    %title RaggedWing
    = stylesheet_link_tag "styles", :media => "all"
    = stylesheet_link_tag "960", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#wrapper.container_12
      %div#header.grid_12.alpha.omega
        %h1#title
          Ragged Wing CRM
        %div#nav
          %ul#nav_links
            %li= link_to "Home", "/"
            %li= link_to "People", people_path
          %div#search
            = form_tag({:controller => "people", :action => "search"}, :method => "get") do
              = select :person, :title, [ "people"]
              = text_field_tag(:q)
              = submit_tag("Search", :class => "button")
      %div#body.grid_12.alpha.omega
        = yield
      %div#footer.grid_12.alpha.omega.align_right &copy; 2012